<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>
<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">

<div id="ds-editing-tools" style="padding: 20px;">
    <h2 style="display: inline; vertical-align:middle; padding-right: 20px;">Test Template</h2>
    <button onclick="makeEmailTemplateAndCopyToClipboard()">Copy to clipboard</button>
    <button onclick="editEmailContent()">Edit</button>
    <button onclick="saveEmailContent()">Save</button>
    <script type="text/javascript">
        function copyToClipboard(text) {
            window.prompt("Copy this box's contents (the template) with: Ctrl+C on your keyboard", text);
        }
        function makeEmailTemplateAndCopyToClipboard() {
            var pageHTML = document.querySelector('body');
            var copiedHTML = pageHTML.cloneNode(true);
            copiedHTML.removeChild(copiedHTML.querySelector('#ds-editing-tools'));
            copyToClipboard(copiedHTML.innerHTML);
        }
        function editEmailContent() {
            document.querySelector('.body').setAttribute('contenteditable', true);
        }
        function saveEmailContent() {
            document.querySelector('.body').removeAttribute('contenteditable');
        }
    </script>
</div>

<table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #222222; font-family: Tahoma, Verdana, Segoe, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: Tahoma, Verdana, Segoe, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0; background-color: #f7f7f7;" bgcolor="#f7f7f7">
        <center style="width: 100%; min-width: 580px;">

            <!-- HEADER -->
            <table class="row header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; padding: 0px; background-color:#ffffff; margin-bottom: 32px;" bgcolor="#ffffff">
                <tbody>
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                        <td class="center" align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: Tahoma, Verdana, Segoe, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px; border-bottom: 1px solid #e0e0e0; border-top: 4px solid #b71234;" valign="top">
                            <center style="width: 100%; min-width: 580px;">
                                <table class="container" style="width: 580px; height: 32px; margin: 0 auto; padding: 0; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                    <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: Tahoma, sans-serif;  font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px;" align="left" valign="top">
                                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                            <td class="six sub-columns" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; min-width: 0px; width: 50%; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px;" align="left" valign="top">
                                                <!-- MARKEL LOGO 64x64 -->
                                                <table cellpadding=0 cellspacing=0 height=64 width=64 style="margin-bottom: -32px; font-size:0px;height:64;width:64"><tr><td><table cellpadding=0 cellspacing=0 height=64 width=50 bgcolor="#b71234" style="font-size:0px;height:64px;width:50px"><tr height=0><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /></tr><tr height=10><td colspan=50 /></tr><tr height=1><td colspan=47 /><td bgcolor="#bf2d4b" /><td bgcolor="#b81637" /><td rowspan=15 /></tr><tr height=1><td colspan=44 /><td bgcolor="#b81537" /><td bgcolor="#cd5c73" /><td bgcolor="#eabbc4" /><td bgcolor="#fefdfd" /><td rowspan=14 bgcolor="#bb2141" /></tr><tr height=1><td colspan=42 /><td bgcolor="#c0314f" /><td bgcolor="#dc8e9e" /><td bgcolor="#f8e8eb" /><td colspan=3 bgcolor="#ffffff" /></tr><tr height=1><td colspan=39 /><td bgcolor="#b81738" /><td bgcolor="#cf6279" /><td bgcolor="#ecc0c9" /><td bgcolor="#fefefe" /><td colspan=5 bgcolor="#ffffff" /></tr><tr height=1><td colspan=37 /><td bgcolor="#c0314f" /><td bgcolor="#de94a3" /><td bgcolor="#f9ecef" /><td colspan=8 bgcolor="#ffffff" /></tr><tr height=1><td colspan=34 /><td bgcolor="#b9193a" /><td bgcolor="#d0677d" /><td bgcolor="#d0667c" /><td rowspan=10 bgcolor="#de94a3" /><td colspan=10 rowspan=10 bgcolor="#ffffff" /></tr><tr height=1><td colspan=32 /><td bgcolor="#c33b57" /><td bgcolor="#e099a8" /><td bgcolor="#faeff1" /><td bgcolor="#ffffff" /><td rowspan=9 bgcolor="#dd91a1" /></tr><tr height=1><td colspan=29 /><td bgcolor="#ba1c3c" /><td bgcolor="#d26d82" /><td bgcolor="#efcad2" /><td colspan=4 bgcolor="#ffffff" /></tr><tr height=1><td colspan=27 /><td bgcolor="#c5415c" /><td bgcolor="#e19fad" /><td bgcolor="#fbf2f4" /><td colspan=6 bgcolor="#ffffff" /></tr><tr height=1><td colspan=24 /><td bgcolor="#ba1f3f" /><td bgcolor="#ba1d3d" /><td bgcolor="#f1d1d7" /><td colspan=9 bgcolor="#ffffff" /></tr><tr height=1><td colspan=22 /><td bgcolor="#c64660" /><td bgcolor="#e3a3b0" /><td bgcolor="#fbf4f6" /><td rowspan=5 bgcolor="#bd2645" /><td colspan=10 rowspan=5 bgcolor="#ffffff" /></tr><tr height=1><td colspan=19 /><td bgcolor="#bb2141" /><td bgcolor="#d6788b" /><td bgcolor="#f2d6db" /><td colspan=3 bgcolor="#ffffff" /></tr><tr height=1><td colspan=17 /><td bgcolor="#c84b65" /><td bgcolor="#e5aab6" /><td bgcolor="#fcf7f8" /><td colspan=5 bgcolor="#ffffff" /></tr><tr height=1><td colspan=14 rowspan=3 /><td bgcolor="#bc2544" /><td bgcolor="#d77d90" /><td bgcolor="#f4dbe0" /><td colspan=8 bgcolor="#ffffff" /></tr><tr height=19 bgcolor="#e3a2b0"><td /><td colspan=10 bgcolor="#ffffff" /></tr><tr height=1 bgcolor="#ba1d3d"><td bgcolor="#b81839" /><td colspan=10 /><td bgcolor="#b71234" /><td colspan=10 /><td colspan=2 bgcolor="#b81738" /><td colspan=10 /><td colspan=2 bgcolor="#b71234" /></tr><tr height=1><td colspan=50 /></tr><tr height=1 bgcolor="#e7b0bb"><td colspan=15 bgcolor="#b71234" /><td bgcolor="#e6aeb9" /><td /><td bgcolor="#dc8c9d" /><td bgcolor="#b81738" /><td bgcolor="#e6afba" /><td /><td bgcolor="#d67a8d" /><td colspan=2 bgcolor="#b71234" /><td bgcolor="#e19dab" /><td /><td bgcolor="#de94a3" /><td bgcolor="#b71234" /><td bgcolor="#cb536c" /><td /><td bgcolor="#e6afba" /><td bgcolor="#e09aa9" /><td bgcolor="#c94f68" /><td bgcolor="#b71234" /><td bgcolor="#db899a" /><td /><td bgcolor="#c6455f" /><td bgcolor="#d87f91" /><td /><td bgcolor="#ce5e75" /><td bgcolor="#e19eac" /><td colspan=2 /><td bgcolor="#e3a5b2" /><td bgcolor="#d47286" /><td /><td bgcolor="#c94f68" /><td bgcolor="#c23955" /><td bgcolor="#d6798c" /><td bgcolor="#c5405b" /></tr><tr height=1 bgcolor="#ffffff"><td colspan=14 rowspan=8 bgcolor="#b71234" /><td bgcolor="#bb1f3f" /><td colspan=2 /><td bgcolor="#f9ebee" /><td bgcolor="#c43e5a" /><td colspan=2 rowspan=2 /><td bgcolor="#eabcc5" /><td rowspan=4 bgcolor="#b71234" /><td bgcolor="#bd2645" /><td colspan=2 /><td bgcolor="#fdf9fa" /><td bgcolor="#b81738" /><td rowspan=5 bgcolor="#d57589" /><td rowspan=3 /><td bgcolor="#fefefe" /><td /><td bgcolor="#fefefe" /><td bgcolor="#cc576f" /><td rowspan=5 bgcolor="#edc6ce" /><td rowspan=7 /><td bgcolor="#cf637a" /><td bgcolor="#fbf2f4" /><td bgcolor="#fefefe" /><td bgcolor="#c0324f" /><td rowspan=5 bgcolor="#f7e4e8" /><td colspan=2 /><td bgcolor="#faf0f2" /><td rowspan=4 bgcolor="#e3a3b0" /><td rowspan=6 /><td rowspan=5 bgcolor="#d36e83" /><td bgcolor="#c94d66" /><td bgcolor="#da8899" /><td bgcolor="#cb556e" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#c13451" /><td colspan=3 /><td bgcolor="#d87e91" /><td bgcolor="#efcbd3" /><td bgcolor="#ce5f76" /><td rowspan=3 /><td bgcolor="#faf0f2" /><td rowspan=4 /><td bgcolor="#c5435e" /><td bgcolor="#e7b1bc" /><td bgcolor="#dc8c9d" /><td rowspan=2 /><td bgcolor="#e5aab6" /><td bgcolor="#e3a5b2" /><td rowspan=4 /><td bgcolor="#eabac4" /><td rowspan=4 bgcolor="#b71234" /><td rowspan=2 /><td bgcolor="#c74862" /><td bgcolor="#bf2d4b" /><td bgcolor="#be2c4a" /><td bgcolor="#c94e67" /><td bgcolor="#c13451" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#c74762" /><td rowspan=5 /><td bgcolor="#fcf5f7" /><td rowspan=2 /><td bgcolor="#eecad1" /><td bgcolor="#fefcfc" /><td bgcolor="#fdf8f9" /><td bgcolor="#f4dbe0" /><td bgcolor="#df97a6" /><td bgcolor="#eabac4" /><td bgcolor="#d57689" /><td bgcolor="#ecc2cb" /><td bgcolor="#e9b7c1" /><td bgcolor="#e09aa9" /><td bgcolor="#faeff1" /><td bgcolor="#cb546d" /><td bgcolor="#f2d4da" /><td bgcolor="#df95a5" /><td colspan=3 rowspan=3 bgcolor="#b71234" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#cd5c73" /><td bgcolor="#ecc2cb" /><td bgcolor="#fdfafb" /><td bgcolor="#f2d7dc" /><td bgcolor="#f7e7eb" /><td bgcolor="#f9ebee" /><td bgcolor="#f1d1d7" /><td bgcolor="#d5778a" /><td bgcolor="#e4a8b4" /><td colspan=3 /><td bgcolor="#f3d9df" /><td bgcolor="#bf2d4b" /><td bgcolor="#fbf4f6" /><td bgcolor="#c84c66" /><td colspan=2 /><td bgcolor="#e9b7c1" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#d36f84" /><td bgcolor="#dd91a1" /><td bgcolor="#fdf8f9" /><td rowspan=3 /><td bgcolor="#e5aab6" /><td bgcolor="#f3d9df" /><td bgcolor="#fdfbfb" /><td bgcolor="#ba1f3f" /><td bgcolor="#fefdfd" /><td bgcolor="#fefefe" /><td bgcolor="#e5a9b5" /><td bgcolor="#f3dadf" /><td rowspan=3 /><td bgcolor="#f0cfd6" /><td /><td bgcolor="#f3d7dd" /><td bgcolor="#b71234" /><td bgcolor="#e4a6b3" /><td bgcolor="#eabcc5" /><td rowspan=2 /><td bgcolor="#c13350" /><td bgcolor="#b81537" /><td rowspan=3 bgcolor="#e3a2b0" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#d98495" /><td bgcolor="#d77b8e" /><td bgcolor="#f2d6db" /><td bgcolor="#d77c8f" /><td bgcolor="#efcbd3" /><td rowspan=2 /><td bgcolor="#cf6177" /><td colspan=4 /><td bgcolor="#fefefe" /><td bgcolor="#d98495" /><td rowspan=2 bgcolor="#e6aeb9" /><td bgcolor="#eec7cf" /><td rowspan=2 /><td bgcolor="#ce5e75" /><td bgcolor="#edc5cd" /><td bgcolor="#cf6177" /><td bgcolor="#f9ecef" /><td rowspan=2 /><td bgcolor="#c43d59" /><td rowspan=2 bgcolor="#f6e4e7" /><td bgcolor="#edc6ce" /><td bgcolor="#e8b3be" /><td bgcolor="#f3d7dd" /><td bgcolor="#ebbdc7" /><td bgcolor="#ba1d3d" /><td rowspan=2 bgcolor="#b71234" /></tr><tr height=1 bgcolor="#ffffff"><td bgcolor="#df97a6" /><td bgcolor="#d16a7f" /><td bgcolor="#e7b0bc" /><td bgcolor="#c95069" /><td bgcolor="#ebbdc7" /><td bgcolor="#e5aab6" /><td /><td bgcolor="#e3a5b2" /><td bgcolor="#bc2544" /><td bgcolor="#f5dfe3" /><td /><td bgcolor="#e8b5c0" /><td bgcolor="#d36e83" /><td bgcolor="#f0d0d7" /><td bgcolor="#edc6ce" /><td bgcolor="#ce5e75" /><td bgcolor="#df95a5" /><td bgcolor="#e5acb8" /><td colspan=2 /><td bgcolor="#faf0f2" /><td colspan=3 /><td bgcolor="#bb2141" /></tr><tr height=1 bgcolor="#bb2141"><td bgcolor="#b91b3b" /><td /><td bgcolor="#b81637" /><td bgcolor="#b91b3b" /><td /><td bgcolor="#b71335" /><td bgcolor="#ba1d3d" /><td /><td bgcolor="#ba1e3e" /><td /><td bgcolor="#b9193a" /><td bgcolor="#b71234" /><td bgcolor="#ba1e3e" /><td /><td bgcolor="#ba1e3e" /><td /><td bgcolor="#ba1c3c" /><td bgcolor="#b71436" /><td colspan=2 /><td bgcolor="#ba1f3f" /><td /><td bgcolor="#b81637" /><td bgcolor="#b81738" /><td /><td colspan=2 bgcolor="#bb1f3f" /><td colspan=2 /><td bgcolor="#bb2040" /><td bgcolor="#b91b3b" /><td colspan=3 /><td colspan=2 bgcolor="#b71234" /></tr><tr height=10><td colspan=50 /></tr></table></td><td><table cellpadding=0 cellspacing=0 height=64 width=14 bgcolor="#b71234" style="font-size:0px;height:64px;width:14px"><tr height=0><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /><td width=1 /></tr><tr height=64><td colspan=14 /></tr></table></td></tr></table>
                                            </td>
                                            <td class="six sub-columns last" align="right" style="text-align: right; vertical-align: middle; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; min-width: 0px; width: 50%; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" valign="middle">
                                                <!--<span class="template-label" style="color: #ffffff; font-weight: bold; font-size: 11px;">HERO</span>-->
                                            </td>
                                            <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                        </tr></tbody></table>
                                    </td>
                                </tr></tbody></table>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>

            <!-- BODY -->
            <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;">
                <tbody>
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">


                            <!-- PANEL -->
                            <table class="mrk-panel" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                                <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                        <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
                                            <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
                                                <tbody>
                                                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                                    <td class="panel" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0;" align="left" valign="top">
                                                        <div class="panel" style="padding: 32px; border-radius: 4px; background: #ffffff; border: 1px solid #e0e0e0;" bgcolor="#ECF8FF">
                                                            <!--PANEL CONTENT-->
                                                            <center>
                                                                <h2 style="color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; text-align: center; line-height: 1.3; word-break: normal; font-size: 32px; margin: 0 0 20px 0; padding: 0;" align="center">Announcing BI</h2>
                                                            </center>
                                                            <p style="color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#" style="color: #009aa6; text-decoration: none;">Click it! »</a></p>

                                                            <!-- BUTTON -->
                                                            <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                                                                <tbody>
                                                                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                                                    <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
                                                                        <table class="three columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 130px; margin: 0 auto; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                                                            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                                                                                <table class="button" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;">
                                                                                    <tbody>
                                                                                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                                                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; display: block; width: auto !important; background-color: #b71234; margin: 0; padding: 8px 0; border-radius: 4px;" align="center" bgcolor="#2ba6cb" valign="top">
                                                                                            <a href="#" style="color: #ffffff; text-decoration: none; font-weight: bold; font-family: Helvetica,Arial,sans-serif; font-size: 16px;">Get a quote</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                                                        </tr></tbody></table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                            <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
                                    <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                                            <p style="color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </td>
                                        <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                    </tr></tbody></table>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                            
                            <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
                                    <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                        <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" valign="top">
                                            <center style="width: 100%; min-width: 580px;">
                                                <p style="text-align: center; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="center"><a href="#" style="color: #2ba6cb; text-decoration: none;">Terms</a> | <a href="#" style="color: #2ba6cb; text-decoration: none;">Privacy</a> | <a href="#" style="color: #2ba6cb; text-decoration: none;">Unsubscribe</a></p>
                                            </center>
                                        </td>
                                        <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: Tahoma, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                    </tr></tbody></table>
                                </td>
                            </tr></tbody></table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </td>
</tr></tbody></table>
</body>