<article class="grid-width">
    <h1>Digital Brand Guidelines</h1>

    <p><a class="button" href="/Snippets/design-system.cshtml">Design System</a></p>
    <p><a class="button" href="/Snippets/content-style-guide.cshtml">Content Style Guide</a></p>
</article>