<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="/Content/Styles/email-app.css">

    <style type="text/css">

        /* For prod: use http://zurb.com/ink/inliner.php - put your compiled styles from email-app.css here...the tool will inline them on your html. */

    </style>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Titillium+Web);
    </style>
</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>
                <table class="row header markel-header">
                    <tr>
                        <td class="center" align="center">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td class="wrapper last">
                                            <table class="twelve columns">
                                                <tr>
                                                    <td>
                                                        <img src="logo64x64.png" class="logo ee_editable" width="64" height="64" title="Markel" alt="Markel" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; position: absolute;" align="left" />
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>



                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
                                        <table class="twelve columns">
                                            <tr>
                                                <td class="panel sub-grid">
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="context-header" align="center">Professional liability insurance package</p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <h2 align="center">Now includes <br>business interruption cover</h2>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="center" align="center">@FIRSTNAME@, we wanted you to be the first to know that we’re now covering <strong>business interruption</strong> under our existing professional liability package. We’ll cover your clients for either loss of income or extra expenses if their insured premises are damaged and they are unable to trade. <a href="https://broker.markelinternational.com/ca/en/products/professional_liability_misc">Get a quote today</a> and select the business interruption option you need under office contents.</p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="four sub-columns">
                                                                &nbsp;
                                                            </td>
                                                            <td class="four sub-columns" ee_editable>
                                                                <table class="button primary radius">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://broker.markelinternational.com/ca/en/products/professional_liability_misc">Get a quote</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="four sub-columns last">
                                                                &nbsp;
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>



                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
                                        <table class="twelve columns">
                                            <tr>
                                                <td class="panel sub-grid">
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="context-header" align="center">Building a better service</p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <h2 align="center">We listened to you&hellip;</h2>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="center" align="center"><strong>More professions and activities covered</strong></p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="center" align="center"><strong>New 25 percent commission rate</strong></p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="center" align="center"><strong>Easier to find an address, with our new search feature</strong></p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="three sub-columns">
                                                                &nbsp;
                                                            </td>
                                                            <td class="six sub-columns ee_editable">
                                                                <table class="button primary radius">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://broker.markelinternational.com/ca/en/products/professional_liability_misc">Try out our new features</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="three sub-columns last">
                                                                &nbsp;
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last ee_editable">
                                                                <center>
                                                                    <p class="center" align="center">Help us make our platform better for you. <a href="mailto:brokersupport@markelinternational.com">Share your feedback.</a></p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>




                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">

                                        <table class="twelve columns last">
                                            <tr>
                                                <td class="center text-pad ee_editable">
                                                    <center>
                                                        <p align="center" class="center">Unable to see this message? <a href="http://$CANTREAD$">Click here.</a></p>
                                                    </center>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                        <table class="twelve columns last">
                                            <tr>
                                                <td class="center text-pad ee_editable">
                                                    <center>
                                                        <p align="center" class="center"><a href="http://$UNSUB$">Unsubscribe</a></p>
                                                    </center>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                        <table class="twelve columns last">
                                            <tr>
                                                <td class="center text-pad ee_editable" align="center" valign="top">
                                                    <center>
                                                        &copy; Markel International, 2014
                                                    </center>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
            </center>
        </td>
    </tr>
</table>
</body>
</html>