<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="/Content/Styles/email-app.css">

    <style type="text/css">

        /* For prod: use http://zurb.com/ink/inliner.php - put your compiled styles from email-app.css here...the tool will inline them on your html. */

    </style>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Titillium+Web);
    </style>
</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>
                <table class="row header markel-header">
                    <tr>
                        <td class="center" align="center">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td class="wrapper last">
                                            <table class="twelve columns">
                                                <tr>
                                                    <td>
                                                        <img src="https://broker.markelinternational.com/76/Content/Images/markel-logo-64x64.png" class="logo" width="64" height="64" title="Markel" alt="Markel" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; position: absolute;" align="left" />
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>



                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
                                        <table class="twelve columns">
                                            <tr>
                                                <td class="panel sub-grid">
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last">
                                                                <center>
                                                                    <h2 align="center">Reset password</h2>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last">
                                                                <center>
                                                                    <p class="center" align="center">To reset your password, click the link below (or copy-paste the URL into your browser) within the next seven days.</p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <tr>
                                                            <td class="twelve sub-columns last">
                                                                <center>
                                                                    <p class="center" align="center"><a class="wrap-long-word" href="https://broker.markelinternational.com/ca/en/registration/miKyQUrj7rrwYhgyicf_ILSAYYLn2k4gPFL85-wV1-dmgYTZrAl_VtNAeJY4zNR66bpd6SKq3GVO0ggiZWe6jzMfEz3FPJ3ZNpuH9lmf1bI">https://broker.markelinternational.com/ca/en/registration/miKyQUrj7rrwYhgyicf_ILSAYYLn2k4gPFL85-wV1-dmgYTZrAl_VtNAeJY4zNR66bpd6SKq3GVO0ggiZWe6jzMfEz3FPJ3ZNpuH9lmf1bI</a></p>
                                                                </center>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>



                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
                                        <table class="twelve columns last">
                                            <tr>
                                                <td class="center text-pad" align="center" valign="top">
                                                    <center>
                                                        <p class="center" align="center"><small>If you did not request this password reset or for more help with your account, please <a href="mailto:broker">contact us</a>.<br>Please do not reply to this message.</small></p>
                                                    </center>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>



                <br>
            </center>
        </td>
    </tr>
</table>
</body>
</html>