@mixin simple-form($selector){
    #{$selector}{
        .question {
            .option {
                margin-top: 2*$grid-unit;
            }
            input {
                width: 100%;
            }
        }
        button {
            margin-top: 2*$grid-unit;
        }
    }
}

@include simple-form('.simple-form');