@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<nav class="primary-navigation">
    <div class="navigation-trigger">
        <a href="">
            <i class="icon-angle-left"></i>
            <i class="icon-menu"></i>
            <i class="icon-angle-right"></i>
        </a>
    </div>
    <ul>
        <li class="current"><a href=""><span>Dashboard</span><i class="icon-dashboard"></i></a></li>
        <li><a href=""><span>Select Product</span><i class="icon-check-circle-o"></i></a></li>
        <li><a href=""><span>Disclosure questions</span><i class="icon-error"></i></a></li>
        <li><a href=""><span>Quote</span><i class="icon-circle-o"></i></a></li>
        <li><a href=""><span>Pre-bind Summary</span><i class="icon-circle-o"></i></a></li>
        <li><a href=""><span>Receipt & Policy</span><i class="icon-circle-o"></i></a></li>
    </ul>
    <div class="primary-navigation-shadow"></div>
</nav>