@import "_form-element";
@import "_forms-ie-hacks";
@import "_simple-form";

@mixin form($selector){
    #{$selector}{
        legend, label {
            @include set-text-as(body, $margins-overrides: ("bottom": $grid-unit/3));
            display: inline-block;
            .legend-content {
                display: inline-block;
            }
        }

        fieldset {
            clear: both;
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}

@include form("form");
