@mixin account-menu($selector){
// TODO: Clean up / remove?

    #{$selector} {
        ///User Avatar TODO: can be simplified?
        &.ds-menu .ds-menu-trigger {
            @include respond-to($lap-and-desk){
                padding-left: 5*$grid-unit;
            }
            @include respond-to($desk-only){
                padding-left: 7*$grid-unit;
            }
        }

        .ds-menu-trigger {
            img {
                display: none;
                @include respond-to($lap-and-desk){
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    top:0;
                    border: solid 2px $colour-greyscale-39;
                    background-color: $colour-greyscale-39;
                    @include set-graphic-as(gamma);
                    left: ($grid-unit+2px);
                    margin: (1.5*$grid-unit+1px) 0;
                }
                @include respond-to($desk-only){
                    @include set-graphic-as(beta);
                    left: $grid-unit*2;
                    margin: (1.5*$grid-unit+2px) 0;
                }
            }
        }

        .ds-menu-items {
            @include respond-to($lap-and-desk){
                right: 0;
            }
        }
    }



}