$menu-palm-height: $grid-unit *4.5;
$menu-lap-height: $grid-unit *6;
$menu-desk-height: $grid-unit *7;

$logo-palm-width: $menu-palm-height * 2;
$logo-lap-width: $menu-lap-height * 2;
$logo-desk-width: $menu-desk-height * 2;

$logo-palm-clearance: 2*$grid-unit;
$logo-lap-clearance: 3*$grid-unit;
$logo-desk-clearance: 7*$grid-unit;

@import "logo";
@import "global-banner";
@import "mobile-site-section-actions";
@import "site-section";
@import "main-content";

@include global-banner(".global-banner");
@include mobile-site-section-actions('.mobile-section-actions');
@include site-section(".site-section, .top-header");
@include main-content(".content");

