@import 'mobile-trigger';
@import 'account-menu';


@mixin navigation-items($selector, $desk-alignment) {
    #{$selector}{
        @include respond-to($lap-and-desk){
            float: $desk-alignment;
        }
        ul {
            background-color: transparent;
            @include respond-to($lap-and-desk){
                background-color: $colour-white;
            }
            li {
                display: inline-block;
                width: 100%;
                @include respond-to($lap-and-desk) {
                    width: auto;
                    border-bottom: none;
                }
                margin:0;
                text-transform: uppercase;
                a, button {
                    display: inline-block;
                    width: 100%;
                    padding: 1.5*$grid-unit 2*$grid-unit;
                    @include respond-to($lap-and-desk){
                        padding: 0 $grid-unit;
                    }
                    color: $colour-greyscale-39;
                    background-color: transparent;
                    text-decoration: none;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    &:hover, &:focus, &:active {
                        background-color: $colour-greyscale-98;
                        border-right: 1px solid $colour-greyscale-88;
                        border-left: 1px solid $colour-greyscale-88;
                    }
                }
            }

            @include respond-to($lap-and-desk){
                .ds-menu-item {
                    display: block;
                    white-space: nowrap;
                    border-bottom: 1px solid $colour-greyscale-88;
                    a, button {
                        width: 100%;
                        &:hover, &:focus, &:active {
                            border-left: 1px solid transparent;
                            border-right: 1px solid transparent;
                        }
                    }
                }
                .ds-menu-trigger {
                    border-top: none;
                    border-bottom: none;
                }
            }
        }
        > ul > li li {
            text-transform: none;
        }

        @include respond-to($lap-and-desk){
            > ul > li {
                & > a, & > button {
                    line-height: $menu-palm-height;
                    @include respond-to($lap-and-desk){
                        width: auto;
                        line-height: $menu-lap-height;
                    }
                    @include respond-to($desk-only){
                        line-height: $menu-desk-height;
                    }
                }
            }
        }
    }

    // Exceptions for when the mobile menu is open...
    &.open #{$selector} {
        .ds-menu, .ds-menu-items {
            border: none;
        }
        .ds-menu-trigger {
            border: none;
            border-bottom: $mobile-menu-border;
        }
        ul li {
            border-bottom: $mobile-menu-border;
            .ds-menu-items {
                border: none;
            }
            a, button {
                color: $colour-white;
                &:hover, &:active, &:focus {
                    background-color: transparentize($colour-white, 0.9);
                }
            }
        }
    }
}


@mixin mobile-trigger-container($selector){
    #{$selector} {
        @include respond-to($lap-and-desk){
            display: none;
        }
        width: 100%;
        height: $menu-palm-height;
        text-align: right;
        background-color: $colour-white;
        a {
            display: inline-block;
            line-height: $menu-palm-height;
            color: $colour-greyscale-39;
            text-decoration: none;
        }
    }
}

@mixin primary-navigation-and-utility-navigation-content($selector) {
    #{$selector} {
        display: none;
        &.open {
            display: block;
        }
        @include respond-to($lap-and-desk) {
            display: block;
        }
        width: 100%;
        @include navigation-items('.primary-navigation', left);
        @include navigation-items('.utility-navigation', right);

        &:not(.open) .primary-navigation {
            margin-left: $logo-palm-width + 2*$logo-palm-clearance;
            @include respond-to($lap-and-desk) {
                margin-left: $logo-lap-width + 2*$logo-lap-clearance;
            }
            @include respond-to($desk-only) {
                margin-left: $logo-desk-width + 2*$logo-desk-clearance;
            }
        }

        .utility-navigation {
            ul {
                letter-spacing: -0.35em;
                li {
                    letter-spacing: 0;
                }
            }
        }
    }
}


@mixin global-banner($selector) {
    $top-z-index: 99999;

    $options: ('top-z-index': $top-z-index);
    @include account-menu('.account-menu');

    #{$selector} {
        width: 100%;
        background: $colour-white;
        border-bottom: solid 1px $colour-greyscale-88;
        border-top: solid 4px $colour-brand-primary;
        position: relative;
        z-index: $top-z-index;

        height: $menu-palm-height+5px;
        @include respond-to($lap-and-desk){
            height: $menu-lap-height+5px;
        }
        @include respond-to($desk-only){
            height: $menu-desk-height+5px;
        }

        @include logo("a.logo");

        .primary-navigation-and-utility-navigation {
            height: 100%;
            width: 100%;
            background-color: $mobile-menu-background;
            @include respond-to($lap-and-desk){
                background-color: $colour-white;
            }
            &.open {
                position: fixed;
                z-index: $top-z-index+1;
            }

            @include mobile-trigger-container('.primary-navigation-and-utility-navigation-trigger-container');
            @include mobile-trigger('.primary-navigation-and-utility-navigation-trigger-container a');
        }
    }

    @include primary-navigation-and-utility-navigation-content('.primary-navigation-and-utility-navigation-content');
}

