@mixin mobile-site-section-actions($selector){
  #{$selector}{
      @include respond-to($lap-and-desk){
        display: none;
      }
      padding: 2*$grid-unit;
      border-bottom: $mobile-menu-border;

      .ds-menu-items {
          background-color: transparent;
          border: none;
          .ds-menu-item{
              border-bottom: 1px solid $mobile-menu-background;
              background-color: transparentize($colour-white, 0.9);
              form {
                  button{
                      text-align: left;
                      color: $colour-white;
                      &:hover{
                          background-color: transparentize($colour-white, 0.9);
                      }
                  }
              }
              margin: 0;
          }
      }

      .ds-menu-trigger {
        display: table;
        span, [class^='icon-']{
          display: table-cell;
        }

        text-transform: uppercase;
        text-align: left;
      }
  }
}