@mixin navigation-dropdown($selector, $options){
    #{$selector} {
        > ul {
            display: none;
        }
        &.open > ul {
            display: block;
        }

        &.open {
            position: relative;
            z-index: map_get($options, 'top-z-index');
            border-color: transparent;

            // Trigger
            > a {
                background-color: $colour-greyscale-39;
                border: none;
                color: $colour-white;
                @include transition(none);
                i.icon-caret-down {
                    color: $colour-white;
                    @include transform(rotate(180deg));
                }
            }

            // Dropdown contents
            > ul {
                position: absolute;
                background: $colour-white;
                min-width: 100%;
                z-index: map_get($options, 'top-z-index');
                li {
                    width: 100%;
                    border-bottom: solid 1px $colour-greyscale-76;
                    background-color: $colour-white;
                    a, button {
                        padding: 1.5*$grid-unit 2*$grid-unit;
                    }
                    button {
                        border: none;
                    }
                }
            }
        }
    }
}