@mixin site-section($selector){
    #{$selector} {
        width: 100%;
        padding:0;
        @include respond-to($lap-and-desk) {
            padding: $grid-unit*1.5 0;
        }
        @include respond-to($desk-only) {
            padding: $grid-unit*2.5 0;
        }
        @include clearfix();
        position: relative;
        h2{
            float: left;
            position: relative;
            z-index: auto;
            @include set-text-as(delta, $reduced: true, $margins-overrides: zero-both);
            margin: 0;
            margin-left: $logo-palm-width + 2*$logo-palm-clearance;
            @include respond-to($lap-and-desk){
                @include set-text-as(gamma, $reduced: true, $margins-overrides: zero-both);
                margin-left: $logo-lap-width + 2*$logo-lap-clearance;
            }
            @include respond-to($desk-only){
                @include set-text-as(beta, $reduced: true, $margins-overrides: zero-both);
                margin-left: $logo-desk-width + 2*$logo-desk-clearance;
            }
        }
        &.product-section {
            background: $brand-image-1;
            background-size: cover;
            h2 {
                color: $colour-white!important;
            }
        }
        &.neutral-section {
            background: $colour-greyscale-97;
            border-bottom: 1px solid $colour-greyscale-88;
        }

        $site-section-mobile-line-height: 34px;
        $site-section-lap-line-height: 48px;
        $site-section-desk-line-height: 44px;
        h2 {
            line-height: $site-section-mobile-line-height;
            @include respond-to($lap-and-desk){
                line-height: $site-section-lap-line-height;
            }
            @include respond-to($desk-only){
                line-height: $site-section-desk-line-height;
            }
        }

        > ul {
            display: none;
            @include respond-to($lap-and-desk){
                display: block;
            }
            margin: 0;
            float: right;
            padding: 0;
            li {
                float: right;
                margin-bottom: 0;
                list-style: none;
                margin-right: $grid-unit*0.5;
                @include respond-to($lap-and-desk){
                    margin-right: $grid-unit*1.5;
                }
            }
            .ds-menu-items {
                right: 0;
            }
        }
        @include respond-to-print(){
            display: none;
        }
    }
}
