@mixin site-section($selector){
    #{$selector} {
        background: $brand-image-1;
        background-size: cover;
        &.neutral-section {
            background: $colour-greyscale-97;
            border-bottom: 1px solid $colour-greyscale-88;
        }
        padding:0;
        @include respond-to($lap-and-desk) {
            padding: $grid-unit*1.5 0;
        }
        @include respond-to($desk-only) {
            padding: $grid-unit*2.5 0;
        }
        @include clearfix();
        position: relative;
        overflow: hidden;
        >img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        h2{
            float: left;
            position: relative;
            z-index: auto;
            @include set-text-as(delta, $reduced: true, $margins-overrides: zero-both);
            margin: 0;
            margin-left: $logo-palm-width + 2*$logo-palm-clearance;
            @include respond-to($lap-and-desk){
                @include set-text-as(gamma, $reduced: true, $margins-overrides: zero-both);
                margin-left: $logo-lap-width + 2*$logo-lap-clearance;
            }
            @include respond-to($desk-only){
                @include set-text-as(beta, $reduced: true, $margins-overrides: zero-both);
                margin-left: $logo-desk-width + 2*$logo-desk-clearance;
            }
        }
        &.product-section {
            h2 {
                color: $colour-white!important;
            }
        }

        h2, ul{
            line-height: 40px;
            @include respond-to($lap-and-desk){
                line-height: 42px;
            }
            @include respond-to($desk-only){
                line-height: 44px;
            }
        }

        ul{
            display: none;
            float: right;
            margin: 0;
            padding: 0;
            @include respond-to($lap-and-desk){
                display: block;
            }
            li{
                list-style: none;
                margin-right: $grid-unit*0.5;
                @include respond-to($lap-and-desk){
                    margin-right: $grid-unit*1.5;
                }

                margin-bottom: 0;
                float: right;

            }
        }
        @include respond-to-print(){
            display: none;
        }

    }
}
