@mixin modal($selector, $shadow-selector, $level){
    #{$selector}{

        h2 {
            @include set-text-as(gamma, $margins-overrides:zero-both, $strength: strong);
            border-bottom: 1px solid $colour-greyscale-88;
            padding: $grid-unit*2;
        }

        p {
            margin: 0 0 $grid-unit*2 0 !important;
        }
    }

    #{$shadow-selector} {
        background: rgba($colour-black, 0.6)!important;
        opacity: 1 !important;
    }
}

@mixin info-popup($selector, $shadow-selector, $close-button-selector){
    #{$selector}{
        width: 456px !important;
        @include respond-to($palm-only){
            position: relative !important;
            width: 100% !important;
            top: 0!important;
            margin-top: -254px !important;

        }
//        height: auto !important;
        padding: 0;
        z-index: 2;
        border-radius: $standard-curvature;
        background: $colour-white !important;

        .grid-width{

            padding: 0;
            width: auto !important;
        }

        .content{

            padding: 0;
            margin: 0;
        }


        h1 {
            @include set-text-as(gamma, $margins-overrides:zero-both, $strength: strong);
            border-bottom: 1px solid $colour-greyscale-88;
            padding: $grid-unit*2;
        }

        p {
            margin-bottom: 0;
            padding: $grid-unit*2 $grid-unit*2 0 $grid-unit*2;
        }

        p.error-message{

            padding: 4px 8px 4px 32px;
            margin: 4px 0;

        }

        form{

            padding: 0 $grid-unit*2 $grid-unit*2 $grid-unit*2;

            select{

                width: 100%;
            }

            .hp{

                @include visually-hidden();
            }
        }
    }

    .editorial-page div.panel--style-1{

        padding: $grid-unit*2;
    }

    .ds-expander-style-b{

        border: none;
    }

    .ds-expander-style-b:last-of-type{

        border: none;
    }

    .editorial {

        padding: $grid-unit*2;
        border: 1px solid $success-colour-100;
        background-color: $success-colour-10;
        overflow: hidden;

        &:before {
            float: left;
            font-family: 'Iconography';
            @include get-icon-content-only("tick-circle");
            display: inline-block;
            @include set-text-as(gamma, $margins-overrides:zero-both);
            width: 9%;
            color: $success-colour-100;
            line-height: 1;
        }

        p {
            padding: 0;
            float: left;
            width: 90%;

        }
    }

    #{$shadow-selector} {
        background: rgba($colour-black, 0.6)!important;
        opacity: 1 !important;
    }

    #{$close-button-selector} {
        background: transparent!important;
        border: none;
        color: $colour-black;
        box-shadow: none!important;
        top: 3*$grid-unit!important;
        right: 4*$grid-unit!important;
        font-size: 24px !important;

        &:before{
            font-family: 'Iconography';
            @include get-icon-content-only("cross");
            display: inline-block;
        }

        &:hover, &:focus, &:active{

          color: lighten($colour-black, 50);
          @include transition($standard-transition-animation);
          outline: none !important;
        }
    }
}

@include info-popup(".info-popup", ".custom-shadow", ".custom-close");

@include modal(".error-page", ".custom-shadow", error-modal);