@import "nested-cover";
@import "cover-headline";
@import "cover-contents";
@import "modify-cover-as-not-taken-up";
@import "modify-cover-as-unable-to-quote-online";

@mixin cover($selector){
    #{$selector} {
        @include clearfix;

        @include respond-to-print(){
            padding: $grid-unit/2 0;
            background: transparent;
            .panel-inverse{
                padding: $grid-unit/2 0;
            }
            & > .row:nth-child(2){
                border-bottom: solid 1px $colour-black;
                margin-bottom: $grid-unit;
            }

            .checkbox-option{
                input[type=checkbox] {
                    display: none;
                }
            }
        }
    }
    @include cover-contents('.cover-contents');
    @include cover-headline('.cover .cover-headline');
    @include modify-cover-as-not-taken-up($selector, '.cover--not-taken-up');
    @include modify-cover-as-unable-to-quote-online($selector, '.cover--unable-to-quote-online');
}