@mixin modify-cover-as-unable-to-quote-online($selector, $modifying-selector){
    #{$selector} {
		&#{$modifying-selector}{
            .referred-message {
                p {
                    overflow: hidden;
                    margin-bottom: 0;
                    margin-right: 0;
                }
                i.icon-exclamation-circle{
                    float: left;
                    @include set-text-as(gamma, $margins-overrides: zero-both);
                    margin-right: $grid-unit;
                    line-height: 1;
                }
                @include warning-message();
            }
        }
    }
}

