/* GLOBAL
*/
$logo-size: 64px;

body, .body {
    background: $colour-greyscale-97;
}

/* SMALL BREAKPOINT
*/
//@media #{$small-only} {
//    table[class="body"] {
//
//    }
//}

/* MODULES
*/
.markel-header {
    position: relative;
    height: 0;
    margin-bottom: ($logo-size / 2) - $wrapper-padding-top;
    border-top: 4px solid $colour-brand-primary;
    .wrapper {
        padding-top: 0;
        td {
            padding-bottom: 0;
        }
    }
    .logo {
        position: absolute;
        z-index: 100;
        left: $panel-padding/2;
    }
}

.panel {
    h2 {
        text-align: center;
    }
}

.context-header {
    text-align: center;
    color: $colour-greyscale-63;
    font-weight: bold;
    margin-bottom: $grid-unit;
}


/* HELPERS
*/

// Remember to add <center> tag and text-align='center' as well.
.center {
    text-align: center;
}

.weak-text {
    color: $colour-greyscale-63;
}

.markel-rounding {
    -moz-border-radius: $standard-curvature;
    -webkit-border-radius: $standard-curvature;
    border-radius: $standard-curvature;
}

.wrap-long-word {
    word-break: break-all;
}