@mixin actions-panel($selector){
    #{$selector}{
        margin: 2*$grid-unit 0;
		text-align: right;
		
		.actions-panel-text {
			display: block;
			float: left;
			margin-top: $grid-unit;
		}

		.actions {
			display: inline;
			margin: 0 0 0 2*$grid-unit;
			padding: 0;
			list-style-type: none;
			li {
				display: inline;
				padding: 0;
			}
			
		}
    }
}

@include actions-panel(".actions-panel");