@mixin expander($selector){
    #{$selector}{
        i {
            margin-right: $grid-unit;
           @include icon-interaction($colour-white,$colour-interaction-100);
        }
        &.open > a i {
            &.hover, &:hover {
                background-color: darken($colour-interaction-100, 10);
                @include transition($standard-transition-animation);
            }
        }
        &.open > a i:before {
            @include icon-content-for-name("angle-down");
            color: $colour-white;
        }

        a.expander-trigger {
          display: block;
          margin-right: 1.5*$grid-unit;
        }

        @include respond-to-print(){
            a.expander-trigger {
                display: none;
            }
                & > a i:before {
                @include icon-content-for-name("angle-down");
                color: $colour-white;
            }
            .expander-content {
                display: block !important;
            }
        }
    }
}


@include expander(".expander");
