@{
ViewBag.Title = @Text.Content.StatusTitle;
Layout = "Shared/Layout";
}

<article class="stacked-questions-prototype grid-width">
    <h1>Stacked Questions Prototype</h1>

    <h2>Notes:</h2>
    <ul>
        <li>Classes: 'question-style-stacked-headline' and 'question-style-stacked-content'</li>
        <li>Markup for 'question-style-stacked-headline' needs updating to use the 'basic-checkbox' markup.</li>
        <li>No legend or fieldset for 'question-style-stacked-headline' (because it's a single option like the revenue question).</li>
    </ul>

    <form action="POST">
        <section class="form-fragment">
            <h2 class="form-fragment-title ng-binding">Additional covers</h2>
            <div class="form-fragment-content">
                <div class="question-checkbox question question-style-stacked-headline">
                    <div class="question-main">
                        <div class="option basic-checkbox">
                            <input id="glCoverSelected" name="glCover" class="visually-hidden" type="checkbox" />
                            <label for="glCoverSelected">
                                <span class="fake-check-box"></span>
                                General Liability
                            </label>
                        </div>
                    </div>
                    <div class="question-aside">
                        <div class="help-message-text">
                            Lorem ipsum&hellip;Optionally include General Liability. You'll need general liability if blah blah&hellip;
                        </div>
                    </div>
                </div>

                <div class="question-multiple-choice-exclusive question glConfirmation no-touch question-style-stacked-content">
                    <fieldset class="options-count-2">
                        <div class="question-main">
                            <legend><span class="legend-content">Does the Applicant</span></legend>
                            <div class="intro-area">
                                <ul>
                                    <li>manufacture or sell any products</li>
                                    <li>undertake any manual work away from the Proposers premises</li>
                                    <li>undertake any trackside work or safety signalling work for railways</li>
                                    <li>undertake any airside work (at airports etc)</li>
                                    <li>undertake any offshore work?</li>
                                </ul>
                            </div>
                            <div>
                                <div class="glConfirmation">
                                    <div class="option radio-option">
                                        <input class="visually-hidden" id="glConfirmation_yes" name="glConfirmation" type="radio">
                                        <label for="glConfirmation_yes">
                                            <span class="fake-radio-button"></span>
                                            Yes
                                        </label>
                                    </div>

                                    <div class="option radio-option">
                                        <input class="visually-hidden" id="glConfirmation_no" name="glConfirmation" type="radio">
                                        <label for="glConfirmation_no">
                                            <span class="fake-radio-button"></span>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="question-aside">
                            <div class="help-message-text">
                                Manual work includes non-destructive testing, load
                                bearing testing and use of access systems (other than hydraulic platforms). Installation
                                and maintenance of computer systems and office equipment would not be considered manual
                                work.
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="question-multiple-choice question glCover no-touch question-style-stacked-headline">
                    <fieldset class="options-count-2">
                        <div class="question-main">
                            <div class="option basic-checkbox">
                                <input id="propertyCoverSelected" name="glCover" class="visually-hidden" type="checkbox" />
                                <label for="propertyCoverSelected">
                                    <span class="fake-check-box"></span>
                                    Office Contents (excludes Business Interruption)
                                </label>
                            </div>
                            <div class="question-aside">
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="question-monetary question propertyConfirmation no-touch question-style-stacked-content">
                    <div class="question-main">
                        <div class="propertyConfirmation">
                            <div class="option">
                                <div class="row">
                                    <div class="label-selector">
                                        <label for="OfficeContentsSumInsured">
                                        Enter the Sum Insured required in respect of Office Contents (up to $100,000)
                                        </label>
                                    </div>
                                    <div class="input-and-unit">
                                        <input id="OfficeContentsSumInsured" placeholder="e.g. 100,000" type="text"> <!-- should be input type number really :-( -->
                                        <span class="unit">CAD ($)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-aside">
                        <div class="help-message-text">
                            Up to 20% of the Sum Insured specified may apply to
                            portable equipment carried by the Applicant away from their business premises. Our policy
                            includes a warranty that theft of items from an unoccupied vehicle will only apply if the
                            vehicle is securely locked and such theft results in visible signs of forced entry.
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </form>
</article>