@mixin success-message($selector){
    #{$selector}{
        @include set-text-as(body);
        color: $success-colour-100;
        @include padding-for-form-element();
        display: inline-block;
        width:4*$grid-unit;
        vertical-align: top;
        margin: 0;
        i {
           background-color: $success-colour-100;
        }
    }
}

@include success-message(".success-message");