<footer class="footer">
    <div class="footer-main panel panel--size-s">
        <div class="grid-width">
            <p>&copy; <span id="dnn_dnnCOPYRIGHT_lblCopyright">Markel (UK) Limited 2016 &nbsp;| &nbsp;<a target="_blank" title="Privacy Statement" href="http://localhost:3678/privacy-statement">Privacy Statement</a>&nbsp; | &nbsp;<a target="_blank" title="Terms of Use" href="http://localhost:3678/terms-of-use">Terms of Use</a></span></p>
            <p>Markel direct is a trading name of Markel (UK) Limited which is a company registered in England and an appointed representative of Markel International Insurance Company Limited. Markel (UK) Limited only places insurance policies with Markel International Insurance Company Limited which is authorised by the&nbsp;<a target="_blank" href="http://www.bankofengland.co.uk/PRA/Pages/default.aspx">Prudential Regulation Authority</a>&nbsp;and regulated by the&nbsp;<a target="_blank" href="http://www.fca.org.uk/">Financial Conduct Authority</a>&nbsp;and Prudential Regulation Authority.</p>
        </div>
    </div>
</footer>