<div class="primary-navigation-and-utility-navigation">
    <div class="primary-navigation-and-utility-navigation-trigger-container">
        <a href="">
            <span class="text-when-closed">Menu</span>
            <span class="text-when-open">Close</span>
            <i class="special-menu-icon"></i>
        </a>
    </div>


    <div class="primary-navigation-and-utility-navigation-content">
        <nav class="mobile-section-actions">
            <ul></ul>
        </nav>

        <nav class="primary-navigation">
            <ul>
                <li class="ds-menu">
                    <a href="/blog/"><span>Blog</span></a>
                </li>
                <li class="ds-menu">
                    <a href="/events/"><span>Events</span></a>
                </li>
                <!--
                <li>
                <a href=""><span>Design system</span></a>
                </li>
                -->
            </ul>
        </nav>

        <nav class="utility-navigation">
            <ul>
                <li class="ds-menu">
                    <a href="/jobs/"><span>Jobs</span></a>
                </li>
                <li class="ds-menu account-menu">
                    <a href="/about-us.html"><span>About Us</span></a>
                </li>
                <li class="ds-menu account-menu">
                    <a href="/contact-us.html"><span>Contact Us</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>