<div class="primary-navigation-and-utility-navigation">
    <div class="primary-navigation-and-utility-navigation-trigger-container">
        <a href="">
            <span class="text-when-closed">Menu</span>
            <span class="text-when-open">Close</span>
            <i class="special-menu-icon"></i>
        </a>
    </div>

    <div class="primary-navigation-and-utility-navigation-content">
        <nav class="mobile-section-actions">
            <ul></ul>
        </nav>

        <nav class="primary-navigation">
            <ul>
                {% for item in site.data.nav-primary %}
                <li class="ds-menu">
                    <a href="{{ item.link }}"><span>{{ item.label }}</span></a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</div>