@import "notification-warning";
@import "notification-success";
@import "notification-error";
@mixin notification($selector){
    #{$selector}{
        display: inline-block;
        width: 100%;
        margin-top: 6*$grid-unit;
        border-radius: $standard-curvature;
        padding: $grid-unit;
        @include set-text-as(gamma, $reduced: true, $margins-overrides: zero-both);
        @include respond-to($lap-and-desk) {
            @include set-text-as(gamma, $margins-overrides: zero-both);
            padding: 2*$grid-unit;
        }
        .notification-content {
            float: left;
            width: 90%;
            line-height: map_get(get-base-text-properties-for(alpha), "font-size");
            p {
                margin-bottom: 0;
                display: inline;
            }
        }
        i{
            float: left;
            width: auto;
            padding-right: $grid-unit;
            @include set-text-as(gamma, $reduced: true, $margins-overrides: zero-both);
            line-height: map_get(get-base-text-properties-for(alpha), "font-size");
            @include respond-to($lap-and-desk) {
                @include set-text-as(gamma, $margins-overrides: zero-both);
                line-height: map_get(get-base-text-properties-for(alpha), "font-size");
            }
        }
    }

}

@include notification(".notification");
@include notification-warning(".notification-warning");
@include notification-success(".notification-success");
@include notification-error(".notification-error");