@mixin select-drop-down-list($select-drop-down) {

    #{$select-drop-down} {

       &__row{

           display: table;
           width: 100%;
           border: 1px solid red;
       }

        &__label{

            display: table-cell;
            padding: 0 $grid-unit*2;

        }

        &__list{

            min-width: 300px;
            display: table-cell;

        }


    }
}

@include select-drop-down-list('.select-drop-down');



