@mixin steps-indicator($selector){
 #{$selector}{
     counter-reset: section;
     border-bottom: 1px solid $colour-greyscale-76;
     .steps-container {
         >ul {
             @include set-text-as(gamma,$reduced:true,$margins-overrides:zero-both);
             text-align: center;
             li {
                 padding: 2*$grid-unit;
                 display: inline-block;
                 margin-bottom: 0;
                 border-left: none;
                 border-right: 1px solid $colour-greyscale-76;
                 &:first-child{
                     border-left: 1px solid $colour-greyscale-76;
                 }
                 &:hover {
                     background-color: $colour-greyscale-97;
                 }

                 .step {
                     text-decoration: none;
                     color: $colour-black;
                     .steps-circle {
                         @include respond-to($desk-only){
                             display: inline-block;
                         }
                         display: block;
                        @include set-text-as(delta,$margins-overrides:zero-both);
                         margin: 0 auto;
                         width: 50%;
                         @include respond-to($desk-only){
                             margin:0;
                             width: inherit;
                         }
                        &:before {
                            counter-increment: section;
                            content: counter(section);
                            display: inline-block;
                            border-radius: 50%;
                            border:1px solid $colour-greyscale-76;
                            background-color: $colour-white;
                            width: 3*$grid-unit;
                            height: 3*$grid-unit;
                            padding-top: 0;
                            @include respond-to($lap-and-desk){
                                width: 4*$grid-unit;
                                height: 4*$grid-unit;
                                padding-top: 4px;
                            }
                            margin-right:$grid-unit;
                            text-align: center;
                            @include respond-to($desk-only){
                                padding-top:2px;

                            }
                        }
                     }
                     span {
                         display: none;
                         @include respond-to($lap-and-desk){
                             display: inline-block;
                         }
                     }
                     &.active {
                         @include set-text-as(gamma,$reduced:true,$margins-overrides:zero-both,$strength: strong);
                         .steps-circle {
                             &:before{
                                 color: $colour-white;
                                 background-color: $colour-black;
                                 @include set-text-as(delta, $margins-overrides: zero-both, $strength: strong);
                             }
                         }
                     }
                     &.success {
                         .steps-circle {
                             color: $colour-black;
                             &:before {
                                 content: "-";
                             }
                         }
                     }

                 }

             }
         }
     }

 }
}
@include steps-indicator(".steps-indicator");
