@mixin simple-form($selector) {
    #{$selector}{
        h2 {
            display: none;
            @include respond-to($lap-and-desk) {
                display: block;
            }
        }
        .question .option {
            margin-top: 2*$grid-unit;
        }
        input {
            width: 100%;
        }
    }
}
@include simple-form(".simple-form" );
