@mixin summary-total-premium($selector){

    #{$selector}{

        padding: $grid-unit*1.5 0;
        border-bottom: 1px solid $colour-greyscale-88;

        &__header{
            @include set-text-as(gamma, $margins-overrides: zero-both, $strength: strong);
            float: left;
            width: 70%;
        }

        &__value{
            @include set-text-as(gamma, $margins-overrides: zero-both, $strength: strong);
            float: right;
            width: 30%;
            text-align: right;
            }

        &__ipt{
            @include set-text-as(epsilon, $margins-overrides: zero-both);
            font-weight: 400;
            font-style: italic;

        }


    }

}

@include summary-total-premium('.summary-total-premium');