@mixin summary-total-premium($selector){

    #{$selector}{
        padding: $grid-unit*2 0;
        border-bottom: 1px solid $colour-greyscale-88;

        &__container{
            display: table;
            width: 100%;
        }

        &__header{
            @include set-text-as(gamma, $margins-overrides: zero-both, $strength: strong);
            display: table-cell;
            padding-right: $grid-unit;
        }

        &__value{
            @include set-text-as(gamma, $margins-overrides: zero-both, $strength: strong);
            text-align: right;
            display: table-cell;
        }

        &__ipt{
            @include set-text-as(epsilon, $margins-overrides: zero-both);
            font-weight: 400;
            font-style: italic;
        }


    }

}

@include summary-total-premium('.summary-total-premium');