@mixin summary-header($selector){

    #{$selector}{

        padding-bottom: $grid-unit*1.5;

        &__title{
            @include set-text-as(beta, $margins-overrides: zero-both, $strength: strong);
            margin-top: $grid-unit*2 !important;
        }

        &__summary-header__reference{
            padding: 0;
        }



    }

}

@include summary-header('.summary-header');