@mixin quote-journey($selector) {


#{$selector}{

    @include respond-to($lap-and-desk){
        @include span-columns(8);
        float: left;
        padding: $grid-unit*3;
        border-right: 1px solid $colour-greyscale-88;
    }




}







}

@include quote-journey('.qj-primary-content');