@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markel.REMUS.DesignSystem.Contracts.INavigateSomewhere>
<li class="@Model.Class" tabIndex="0>
    <a href='@Model.Url'>
        <span>@Model.Name</span>
    </a>
</li>