<article id="javascript-disabled-panel" class="panel-inverse">
    <h1>@Text.Content.JavascriptDisabledHeading</h1>
    <section>
        @Text.Content.JavascriptDisabledDetails
    </section>
    </br>
    </br>
</article>
