@mixin notification-error($selector){
    #{$selector}{
        border: 1px solid $error-colour-100;
        background-color: $error-colour-10;
        .icon-cross{
            color: $error-colour-100;
        }
    }
}