@import "mobile-trigger";
@import "mobile-trigger-container";
@import "primary-navigation-utility-navigation-content";

@mixin global-banner($selector) {
    $global-banner-z-index: 99999;
    $mobile-nav-z-index: $global-banner-z-index+1;
    $logo-z-index: $mobile-nav-z-index+2;
    $border-top-height: $grid-unit/2;

    @include account-menu('.account-menu');

    #{$selector} {
        width: 100%;
        background: $colour-white;
        box-shadow: inset 0 -1px 0 0 $colour-greyscale-88, inset 0 $border-top-height 0 0 $colour-brand-primary;
        position: relative;
        z-index: $global-banner-z-index;

        height: $menu-palm-height;
        @include respond-to($lap-and-desk){
            height: $menu-lap-height;
        }
        @include respond-to($desk-only){
            height: $menu-desk-height;
        }

        .logo-and-primary-navigation-and-utility-navigation {
            position: relative;
            @include respond-to($lap-and-desk){
                @include grid-width;
            }

            @include logo("a.logo", $logo-z-index);

            .primary-navigation-and-utility-navigation {
                height: 100%;
                width: 100%;
                @include respond-to($lap-and-desk){
                    background-color: $colour-white;
                }
                &.open {
                    position: fixed;
                    z-index: $mobile-nav-z-index;
                    background-color: $mobile-menu-background;
                }

                @include mobile-trigger-container('.primary-navigation-and-utility-navigation-trigger-container');
                @include mobile-trigger('.primary-navigation-and-utility-navigation-trigger-container a');

            }
        }
    }

    @include primary-navigation-and-utility-navigation-content('.primary-navigation-and-utility-navigation-content');
}
