@mixin global-banner($selector) {
    $border-top-height: $grid-unit/2;

    #{$selector} {
        width: 100%;
        position: relative;
        box-shadow: map_get($global-banner-options, "first-box-shadow"), map_get($global-banner-options, "second-box-shadow");
        border-bottom: map_get($global-banner-options, "border-bottom");
        z-index: $global-banner-z-index;

        min-height: $menu-palm-height;
        @include respond-to($lap-and-desk){
            min-height: $menu-lap-height;
        }
        @include respond-to($desk-only){
            min-height: $menu-desk-height;
        }
        
        .logo-and-primary-navigation-and-utility-navigation {
            position: relative;
            @include respond-to($lap-and-desk){
                @include grid-width;
            }
        }
    }
}