@mixin mobile-trigger-container($selector, $options){

    #{$selector} {
        @include respond-to(map_get($collapsed-menu-breakpoints, "collapsed-menu-breakpoint-lap-and-desk")){
            display: none;
        }
        width: 100%;
        height: $menu-palm-height;
        text-align: right;
        a {
            display: inline-block;
            padding-right: 2*$grid-unit;
            line-height: $menu-palm-height;
            color: $colour-greyscale-39;
            text-decoration: none;
        }
    }
}
