@mixin navigation-items-lap-and-desk($options){

    // BOTH LAP AND DESK
    @include respond-to(map_get($options, "collapsed-menu-breakpoint-lap-and-desk")){
        // Common to both levels
        li {
            @include set-text-as(delta, $reduced: true, $responsive-text: false, $margins-overrides: zero-both);
            width: auto;
            margin: 0;
            border-bottom: none;
            a, button {
                display: inline-block;
                margin: 0;
                padding: 0 $grid-unit;
                text-decoration: none;
                span {
                    display: inline-block;
                    height:100%;
                }
            }
        }

        // First level only.
        > ul > li {
            @include set-text-as(map_get($options, "typography-level"), $responsive-text: false, $reduced: map_get($options, "typography-reduced"), $margins-overrides: zero-both);
            display: inline-block;
            & > a, & > button {
                width: auto;
                line-height: $menu-lap-height;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $colour-greyscale-39;
                &:hover, &:focus, &:active {
                    color: $colour-black;
                    i[class^='icon-'] {
                        &:before {
                            color: $colour-black;
                        }
                    }
                }
            }
            &.ds-open:hover, &.ds-open:focus, &.ds-open:active {
                color: $colour-black;
                i[class^='icon-'] {
                    &:before {
                        color: $colour-black;
                    }
                }
            }
            &:first-of-type > a, &:first-of-type > button {
                padding-left: 0;
            }
            &:last-of-type > a, &:last-of-type > button {
                padding-right: 0;
            }

            &.current {
                font-weight: bold;
                & > a, & > button {
                    color: $colour-black;
                    span {
                        position: relative;
                        &:after {
                            content: '';
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            background-color: $colour-black;
                        }
                    }
                }
            }
        }

        .ds-menu {
            i[class^='icon-'], &.ds-open i[class^='icon-'] {
                width: 1.5*$grid-unit;
                &:before {
                    color: $colour-greyscale-39;
                }
            }
            .ds-menu-items {
                .ds-menu-item {
                    white-space: nowrap;
                }
            }
        }
    }

    // DESK ONLY
    @include respond-to($desk-only){
        // First level
        & > ul > li {
            & > a, & > button {
                line-height: $menu-desk-height;
            }
        }
    }
}
