
<section class="primary-navigation-menu">
    <a class="logo" href='/'>
        <img src='/Content/Images/markel-logo-white.svg' alt="Markel"/>
    </a>


    <div><!--role=menubar-->
        <!--<nav>-->
            <ul class="primary-navigation ds-menu-list">

            </ul>
            <!--<ul class="utility-menu right-nav" role="menu">-->
                <!--<li class="language-menu">-->
                    <!--<a href="" class="trigger selected">-->
                        <!--<span>English</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="trigger">-->
                        <!--<span>Français</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<ul role="menu">-->
                        <!--<li class="selected" role="menuitem">-->
                            <!--<a href=""><span>English</span></a>-->
                        <!--</li>-->
                        <!--<li class="" role="menuitem">-->
                            <!--<a href=""><span>Français</span></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="account-menu menu logged-in">-->
                    <!--<a href="" class="trigger desk-trigger">-->
                        <!--<img src="/Content/Images/default-avatar.png" />-->
                        <!--<span>Nigel</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="trigger mobile-trigger">-->
                        <!--<span class="close">Menu</span>-->
                        <!--<span class="open">Close</span>-->
                        <!--<i class="burger-icon"></i>-->
                    <!--</a>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<h3>Nigel Broker</h3>-->
                        <!--</li>-->
                        <!--<li><a href=""><span>All quotes & Policies</span></a></li>-->
                        <!--<li><a href=""><span>New quote</span></a></li>-->
                        <!--<li><a href=""><span>Signout</span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->

        <!--<nav class="right-nav">-->
            <!--<ul>-->
                <!--<li class="language-menu menu">-->
                    <!--<a href="" class="trigger selected">-->
                        <!--<span>English</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="trigger">-->
                        <!--<span>Français</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<ul>-->
                        <!--<li class="selected">-->
                            <!--<a href=""><span>English</span></a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href=""><span>Français</span></a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href=""><span>Español</span></a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href=""><span>Deutsch</span></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="account-menu menu logged-in">-->
                    <!--<a href="" class="trigger desk-trigger">-->
                        <!--<img src="/Content/Images/default-avatar.png" />-->
                        <!--<span>Nigel</span>-->
                        <!--<i class="icon-caret-down"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="trigger mobile-trigger">-->
                        <!--<span class="close">Menu</span>-->
                        <!--<span class="open">Close</span>-->
                        <!--<i class="burger-icon"></i>-->
                    <!--</a>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<h3>Nigel Broker</h3>-->
                        <!--</li>-->
                        <!--<li><a href=""><span>All quotes & Policies</span></a></li>-->
                        <!--<li><a href=""><span>New quote</span></a></li>-->
                        <!--<li><a href=""><span>Signout</span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
    </div>

    <div class="overlay"></div>
</section>
