@mixin cover-attachments($selector) {

    #{$selector} {

        .additional-detail{
            margin-bottom: 2*$grid-unit;
            &:nth-last-child(1){
                margin-bottom: 0;
            }

            @include respond-to($lap-and-desk) {
                @include span-columns($one-half);
                @include omega(2n);
                margin-bottom: 3*$grid-unit;
                &:nth-last-child(1),
                &:nth-last-child(2){
                    margin-bottom: 0;
                }
            }

        }

        .additional-detail h3 {
            @include set-text-as(body, $margins-overrides: zero-top);
            margin-bottom: $grid-unit/2;
            font-weight: 600;
        }



		.additional-detail p {
			margin-bottom: 0;
		}

		.excess-comment {
			color: $colour-greyscale-63;
		}

    }
}