<!--== Default ==-->
<button class="button-style-primary button--size-alpha">Primary</button>
<button class="button-style-secondary button--size-alpha">Secondary</button>
<button class="button-style-primary-subtle button--size-alpha">Primary subtle</button>
<button class="button-style-secondary-subtle button--size-alpha">Secondary subtle</button>
<button class="button-style-subtle button--size-alpha">Subtle</button>
<button class="button-style-subtle-2 button--size-alpha">Subtle 2</button>
<button class="button-style-link button--size-alpha">Link</button>
<!--== Hover ==-->
<button class="button-style-primary button--size-alpha hover">Primary</button>
<button class="button-style-secondary button--size-alpha hover">Secondary</button>
<button class="button-style-primary-subtle button--size-alpha hover">Primary subtle</button>
<button class="button-style-secondary-subtle button--size-alpha hover">Secondary subtle</button>
<button class="button-style-subtle button--size-alpha hover">Subtle</button>
<button class="button-style-subtle-2 button--size-alpha hover">Subtle 2</button>
<button class="button-style-link button--size-alpha hover">Link</button>
<!--== Active ==-->
<button class="button-style-primary button--size-alpha active">Primary</button>
<button class="button-style-secondary button--size-alpha active">Secondary</button>
<button class="button-style-primary-subtle button--size-alpha active">Primary subtle</button>
<button class="button-style-secondary-subtle button--size-alpha active">Secondary subtle</button>
<button class="button-style-subtle button--size-alpha active">Subtle</button>
<button class="button-style-subtle-2 button--size-alpha active">Subtle 2</button>
<button class="button-style-link button--size-alpha active">Link</button>
<!--== Disabled ==-->
<button class="button-style-primary button--size-alpha" disabled>Primary</button>
<button class="button-style-secondary button--size-alpha" disabled>Secondary</button>
<button class="button-style-primary-subtle button--size-alpha" disabled>Primary subtle</button>
<button class="button-style-secondary-subtle button--size-alpha" disabled>Secondary subtle</button>
<button class="button-style-subtle button--size-alpha disabled" disabled>Subtle</button>
<button class="button-style-subtle-2 button--size-alpha" disabled>Subtle 2</button>
<button class="button-style-link button--size-alpha" disabled>Link</button>
