@mixin help-message-trigger($selector){
    $arrow-height: 5px;
    $arrow-width: 10px;
    $info-icon-width: 2*$grid-unit;
    $info-icon-height: 2*$grid-unit;
    $information-width: 100%;

    #{$selector} {
        display: inline-block;
        @include respond-to($lap-and-desk){
            display: none;
        }
        vertical-align: middle;
        line-height: $grid-unit;
        position: relative;
        z-index: 3;
        margin-left: $grid-unit / 3;
		text-decoration: none;

        .icon-info {
            @include icon-interaction($colour-white,$colour-interaction-100);
            margin: 0  0 $grid-unit $grid-unit/2;

        }
        &.open .icon-info:after {
            position: absolute;
            bottom: -$arrow-height;
            left: $info-icon-width/2 - $arrow-width / 2;
            @include icon-content-for-name('caret-up');
            line-height: $arrow-height;
            height: $arrow-height;
            width: $arrow-width;
            background-color: transparent;
            color: $colour-interaction-100;
        }

        &+.help-message-text {
            @include set-text-as(body);
            display: none;
            position: relative;
            width: $information-width;
            margin-top: $arrow-height;
            padding: $grid-unit;
            color: $colour-white;
            background-color: $colour-interaction-100;
            border-radius: $standard-curvature;
        }

		&.open+.help-message-text {
			display: block;
		}
	}	
}

