<article id="cookies-disabled-panel" class="panel-inverse">
    <h1>@Text.Content.CookiesDisabledHeading</h1>
    <section>
        @Text.Content.CookiesDisabledDetails
    </section>
    </br>
    </br>
</article>
