@import "modify-as-icon-button";
@import "modify-as-button-size";


@mixin button($selector, $style){
    $background-color: $colour-interaction-100;
    $color: $colour-white;
    $border: none;
	$box-shadow: none;
    $interaction-subtle-style-exception: null;
    $interaction-subtle2-style-exception: null;

    @if($style == button-style-primary) {
        $background-color: $colour-brand-primary;
        $box-shadow: inset 0 -4px 0 0 rgba($colour-black, 0.2);
    }

    @if($style == button-style-secondary) {
        $background-color: $colour-interaction-100;
        $box-shadow: inset 0 -4px 0 0 rgba($colour-black, 0.2);
    }

    @if($style == button-style-subtle) {
        $background-color: transparent;
        $box-shadow: inset 0 0 0 2px $colour-white;
        $interaction-subtle-style-exception: true;
    }

    @if($style == button-style-subtle-2) {
        $background-color: $colour-white;
        $border: 1px solid $colour-greyscale-88;
        $color: $colour-greyscale-24;
        $interaction-subtle2-style-exception: true;
    }

    @if($style == button-style-primary-subtle) {
        $background-color: $colour-interaction-10;
        $color: $colour-interaction-100;
		$box-shadow: 0 0 0 2px $colour-brand-primary inset;
    }

    @if($style == button-style-secondary-subtle) {
        $background-color: $colour-interaction-10;
        $color: $colour-interaction-100;
		$box-shadow: 0 0 0 2px $colour-interaction-100 inset;
    }

    #{$selector}{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        min-width: 8*$grid-unit;
        background-color: $background-color;
        color: $color;
        border: $border;
        text-decoration: none;
        text-align: center;
        border-radius: $standard-curvature;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: $box-shadow;
        width: 100%;
        @include respond-to($lap-and-desk){
            width: auto;
        }

        $hover-background-colour: darken($background-color, 10);
        $hover-color: $color;
        
        @if($interaction-subtle-style-exception){
            $hover-background-colour: $colour-white;
            $hover-color: $colour-black;
        }

        @if($interaction-subtle2-style-exception){
            $hover-background-colour: $colour-greyscale-97;
        }

        &.hover, &:hover {
            background-color: $hover-background-colour;
            color: $hover-color;
            @include transition($standard-transition-animation);
        }

        &.active, &:active, &.focus, &:focus {
            $active-background-color: darken($hover-background-colour, 5);
            background-color: $active-background-color;
            color: $hover-color;
            box-shadow: none;
            @include transition(none);
        }

        .disabled, &[disabled]{
            @include standard-option-disabled-style($set-border: false);
            &.hover, &:hover {
                @include standard-option-disabled-style($set-border: false);
            }
        }
    }



    @include modify-as-button-size($selector);
    @include modify-as-icon-button($selector);
}

@include button(".button-style-primary", button-style-primary);
@include button(".button-style-primary-subtle", button-style-primary-subtle);
@include button(".button-style-secondary", button-style-secondary);
@include button(".button-style-secondary-subtle", button-style-secondary-subtle);
@include button(".button-style-subtle", button-style-subtle);
@include button(".button-style-subtle-2", button-style-subtle-2);