/* Use defaults from main brand:
*/

/* Custom to this sub-brand:
*/

$links-options: (
        "colour": $colour-brand-primary
);

/*
    Header components
*/
$global-banner-z-index: 99999;
$menu-palm-height: $grid-unit *7 !default; // Used in global banner, main-content (margin), mobile-trigger-container, mobile-trigger, site-section.
$menu-lap-height: $grid-unit *8 !default;
$menu-desk-height: $grid-unit *7.5 !default;
$global-banner-options: (
        "mobile-height": $menu-palm-height,
        "tablet-height": $menu-lap-height,
        "desktop-height": $menu-desk-height,
        "z-index": $global-banner-z-index,
        "first-box-shadow": 0 0 0 0 transparent,
        "second-box-shadow": inset 0 4px 0 0 $colour-brand-primary,
        "border-bottom": 1px solid $colour-greyscale-88,
        "collapsed-menu-breakpoint": 800px
);
$logo-options: (
        "mobile-width": $menu-palm-height,
        "mobile-height": $menu-palm-height,
        "mobile-padding": $grid-unit+1px,
        "tablet-width": $menu-lap-height,
        "tablet-height": $menu-lap-height,
        "tablet-padding": $grid-unit*1.5,
        "desktop-width": 14*$grid-unit,
        "desktop-height": 14*$grid-unit,
        "desktop-padding": $grid-unit*3-2px,
        "mobile-clearance": 2*$grid-unit,
        "tablet-clearance": 3*$grid-unit,
        "desktop-clearance": $grid-unit,
        "desktop-left": -(14*$grid-unit + $grid-unit),
        "z-index": $global-banner-z-index,
        "mobile-position": relative,
        "background-color": transparent,
        "hover-background-color": transparentize($colour-black, 0.98)
);
$primary-navigation-and-utility-navigation-options: (
        "height": auto,
        "open-mobile-menu-position": relative,
        "clear": both,
        "mobile-border-top": 1px solid $colour-greyscale-88
);
$mobile-menu-trigger-options: (
        "z-index": $global-banner-z-index+1,
        "open-position": relative,
        "open-box-shadow": none
);
