@mixin modal($selector) {

    #{$selector} {

        .modal-header {
            padding: $grid-unit*2;
            border-bottom: 1px solid $colour-greyscale-88;
            overflow: hidden;

            .modal-title {
                @include set-text-as(gamma, $margins-overrides:zero-both, $strength: strong);
                color: $colour-greyscale-24;
                float: left;
                width: auto;
            }

            //close button
            .modal-close {

                color: $colour-greyscale-24;
                @include set-text-as(gamma, $margins-overrides:zero-both);
                padding: 0;
                background: transparent;
                border: none;
                float: right;

                &:before{
                    font-family: 'Iconography';
                    @include get-icon-content-only("cross");
                    display: inline-block;
                }

                &:hover, &:focus, &:active{

                    color: lighten($colour-black, 50);
                    @include transition($standard-transition-animation);
                    outline: none !important;
                }

            }

        }

        // Body padding
        .modal-body {
            position: relative;
            padding: $grid-unit*2;
        }



        //content (with box shadow)
        .modal-content {
            position: relative;
            background-color: $colour-white;
            border-radius: $standard-curvature;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            outline: 0;
        }



        //modal dialog
        .modal-dialog {
            position: relative;
            width: auto;
            margin: $grid-unit;

            @include respond-to($lap-and-desk) {

                width: 456px;
                margin: $grid-unit*3 auto;

            }
        }


        //Bootstrap styles / transitions etc etc

        .fade {
            opacity: 0;
            transition: opacity 0.15s linear;
        }
        .fade.in {
            opacity: 1;
        }
        .collapse {
            display: none;
        }
        .collapse.in {
            display: block;
        }

        .collapsing {
            position: relative;
            height: 0;
            overflow: hidden;
            transition-property: height, visibility;
            transition-duration: 0.35s;
            transition-timing-function: ease;
        }

        .modal-open {
            overflow: hidden;
        }
        .modal {
            display: none;
            overflow: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }
        .modal.fade .modal-dialog {
            transform: translate(0, -25%);
            transition: transform 0.3s ease-out;
        }
        .modal.in .modal-dialog {
            transform: translate(0, 0);
        }
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: #000000;
        }
        .modal-backdrop.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .modal-backdrop.in {
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

    }

}

@include modal('.modal');