<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      >
  
  <targets async="true">
    <target name="accessLogFile" xsi:type="File"
            layout="${message}"
            fileName="${basedir}/logs/access.log" keepFileOpen="false" encoding="iso-8859-2" />
    
    <target name="infoFile" xsi:type="File"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${basedir}/logs/info.log" keepFileOpen="false" encoding="iso-8859-2" />
    
    <target name="errorFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:inner=${newline}${exception:format=tostring}}"
        fileName="${basedir}/logs/error.log" keepFileOpen="false" encoding="iso-8859-2" />

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
       layout="${message}${onexception:inner=${newline}${exception:format=tostring}}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="eventLog" xsi:type="EventLog" layout="${message}${onexception:inner=${newline}${exception:format=tostring}}" log="Remus" eventId="1"/>
  </targets>
  <rules>
    <logger name="AccessLog" minlevel="Warn" writeTo="eventLog"/>
    <logger name="AccessLog" minlevel="Debug" writeTo="accessLogFile" final="true"/>
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="eventLog" />
  </rules>
</nlog>