<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net40" />
  <package id="Markel.REMUS.DesignSystem.Web" version="2.0.88" targetFramework="net451" />
  <package id="Markel.REMUS.Infrastructure.Logging" version="2.0.54" targetFramework="net40" />
  <package id="Markel.REMUS.Infrastructure.Nancy" version="2.0.51" targetFramework="net40" />
  <package id="Markel.REMUS.Infrastructure.Service" version="2.0.52" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net451" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Owin" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40" requireReinstallation="True" />
  <package id="NLog" version="3.1.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="OctoPack" version="3.0.31" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Topshelf" version="3.1.4" targetFramework="net40" />
  <package id="Topshelf.NLog" version="3.1.4" targetFramework="net40" />
</packages>