{% include head.html %}
{% include header.html %}
<section class="ds-site-section top-header neutral-section">
  <div class="ds-site-section__content">
    <h2 class="primary-signpost">{{ page.hero }}</h2>
  </div>
</section>

<main role="main">
  <div class="content">
    <div class="content-inner">
      <article class="design-system-library-screen">
        <div class="grid-width">
            {{ content }}
        </div>
      </article>
    </div>
  </div>
</main>
{% include footer.html %}
{% include foot.html %}
