<div class="expander">
    <a href="" class="expander-trigger"><i class="icon-angle-right"></i>@Text.Content.label_By_activating_you_agree</a>
    <div class="expander-content scroll-area hidden" >Hello</div>
</div>
