@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Markel.REMUS.DesignSystem.Contracts.INavigateSomewhere>
<li>
    <a href='@Model.Url' onclick='appendHash(this)'>
        <span>@Model.Name</span>
    </a>
</li>