<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="/Content/Styles/email-app.css">

    <style type="text/css">

        /* For prod: use http://zurb.com/ink/inliner.php - put your compiled styles from email-app.css here...the tool will inline them on your html. */

    </style>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Titillium+Web);
    </style>
</head>
<body>
<!-- Easy Editor -->
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>


<table class="row header markel-header">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="container">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <img src="logo64x64.png" class="logo" width="64" height="64" title="Markel" alt="Markel" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; position: absolute;" align="left" />
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td class="panel sub-grid">
                                    <table class="twelve columns last">
                                        <tr>
                                            <td class="center" align="center" valign="top">
                                                <center>
                                                    <img src="christmas.jpg" width="580" height="240" alt="☆" align="center" class="center" title="☆" />
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table>
                                        <tr>
                                            <td class="twelve sub-columns ee_editable text-pad">
                                                <center>
                                                    <p class="context-header" align="center">Wishing you a</p>
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td class="twelve sub-columns ee_editable text-pad">
                                                <center>
                                                    <h2 align="center">Merry Christmas, @FIRSTNAME@!</h2>
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table>
                                        <tr>
                                            <td class="twelve sub-columns ee_editable text-pad">
                                                <center>
                                                    <p class="center" align="center">As the festive season approaches, I wanted to confirm the availability of <a href="https://broker.markelinternational.com/ca/en/products/professional_liability_misc">our online portal</a> technical application support team:</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">22 - 24 December: Limited support</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">25 - 26 December: No support</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">1 January: No support</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">2 January: Limited support</p>
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table>
                                        <tr>
                                            <td class="twelve sub-columns ee_editable text-pad">
                                                <center>
                                                    <p class="center" align="center">Technical support availability will return to normal from Monday 5 January.</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">This does not affect underwriting referral support. This will operate as normal, subject to our usual Christmas opening hours.</p>
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table>
                                        <tr>
                                            <td class="twelve sub-columns ee_editable text-pad">
                                                <center>
                                                    <p class="center" align="center">I wanted to take this opportunity to thank you for supporting the development of our online portal and to wish you a very Happy Christmas and prosperous New year.</p>
                                                </center>
                                                <center>
                                                    <p class="center" align="center">Kind regards,<br>Michelle Rodrigues.<br>Vice President and Online Business Development Leader</p>
                                                </center>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    <br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="container">
    <tr>
        <td>
            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns last">
                            <tr>
                                <td class="center text-pad">
                                    <center>
                                        <p align="center" class="center">Unable to see this message? <a href="http://$CANTREAD$">Click here.</a></p>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns last">
                            <tr>
                                <td class="center text-pad">
                                    <center>
                                        <p align="center" class="center"><a href="http://$UNSUB$">Unsubscribe</a></p>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns last">
                            <tr>
                                <td class="center text-pad ee_editable" align="center" valign="top">
                                    <center>
                                        &copy; Markel International, 2014
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<br>
</center>
</td>
</tr>
</table>
</body>
</html>