
@mixin cover-headline($selector) {
    #{$selector} {
        line-height: 0;
        @include clearfix;
        overflow: hidden;
        .checkbox-option.checkbox-stacked input[type="checkbox"]:not(:checked) + label {
            &:hover, &:focus {
                .fake-check-box:before {
                    @include icon-content-for-name("tick");
                    color: $colour-greyscale-88;
                    background-color: $colour-white;
                }
            }
        }
        .checkbox-option.checkbox-stacked input + label {
            &:hover {
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, .10), inset 0 0 0 1px $colour-greyscale-88;
            }
        }
        .checkbox-option.checkbox-stacked input:focus + label {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .10), inset 0 0 0 1px $colour-greyscale-88;
        }
        .checkbox-option.checkbox-stacked input + label, .cover-headline--simple {
            border-radius: 0;
            width: 100%;
            display: table;
            padding: $grid-unit 2*$grid-unit;;
            @include respond-to($lap-and-desk) {
                padding: 2*$grid-unit 3*$grid-unit;
            }
            border: none;
            box-shadow: none;
            background-color: $colour-greyscale-94;

            .fake-check-box {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                position: relative;
                top: $grid-unit/2;
                display: table-cell;
                width: 4.5*$grid-unit;
                vertical-align: top;
                height: auto;
                @include respond-to($lap-and-desk) {
                    padding-right: $grid-unit;
                }

            }

            .fake-check-box:before {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: $colour-white;
                border: 1px solid $colour-greyscale-76;

                line-height: 1.5;
                width: 3*$grid-unit;
                height: 3*$grid-unit;
                box-shadow: none;
                @include set-text-as(body, $responsive-text: false, $margins-overrides: zero-both);
            }

            dl {
                display: table-cell;
                vertical-align: top;
                padding-right: $grid-unit;
                    @include respond-to($lap-and-desk){
                        padding-right: $grid-unit*2;
                    }
                dt {
                    @include set-text-as(gamma, $strength: strong, $margins-overrides: zero-both);
                }
                dd {
                    @include set-text-as(delta, $margins-overrides: zero-both);
                    font-style: italic;
                }
            }

            .selected-premium-value {
                text-align: right;
                display: table-cell;
                vertical-align: top;
                @include set-text-as(gamma, $strength: strong, $margins-overrides: zero-both);
                @include transition(color 250ms ease-in-out);

                &.active {
                    opacity: 0;
                    color: $colour-interaction-100;

                }
            }

        }

        @include respond-to-print() {
            .selected-premium-value {
                text-decoration: line-through;
            }
        }

        .checkbox-option.checkbox-stacked input[type="checkbox"]:not(:checked) + label .selected-premium-value {
            @include set-text-as(gamma, $margins-overrides: zero-both);

        }


    }

}