@mixin cover-endorsements($selector){

    #{$selector}{

        padding: 0;
        margin: $grid-unit*2 0 $grid-unit 0;
        border-top: 1px solid $colour-greyscale-88;
        padding-top: $grid-unit*2;
        @include respond-to($lap-and-desk){
            padding-top: $grid-unit*3;
            margin: $grid-unit*3 0 $grid-unit 0;
        }



        &__title{

            @include set-text-as(gamma, $margins-overrides: zero-top);
        }

           &__content{

               padding: $grid-unit*3 $grid-unit*3 $grid-unit*2 $grid-unit*3;

           }

            &__list{

                list-style: upper-roman;
                padding: 0 0 0 $grid-unit*2;
                margin: 0 0 0 $grid-unit*3;

            }


    }

}

