@mixin cover-contents($selector) {
    #{$selector} {

        padding: $grid-unit*2;
        @include respond-to($lap-and-desk){
            padding: $grid-unit*3;
        }

        &.cover-details-expand{
           padding: 0 $grid-unit*2 $grid-unit*2 $grid-unit*2;
            @include respond-to($lap-and-desk){
                padding: 0 $grid-unit*3 $grid-unit*3 $grid-unit*3;
            }
        }


    }
}