@import "mobile-trigger";
@import "mobile-trigger-container";
@import "primary-navigation-utility-navigation-content";

@mixin global-banner($selector) {
    $top-z-index: 99999;

    $options: ('top-z-index': $top-z-index);
    @include account-menu('.account-menu');

    #{$selector} {
        width: 100%;
        background: $colour-white;
        border-bottom: solid 1px $colour-greyscale-88;
        border-top: solid 4px $colour-brand-primary;
        position: relative;
        z-index: $top-z-index;

        height: $menu-palm-height+5px;
        @include respond-to($lap-and-desk){
            height: $menu-lap-height+5px;
        }
        @include respond-to($desk-only){
            height: $menu-desk-height+5px;
        }

        @include logo("a.logo");

        .primary-navigation-and-utility-navigation {
            height: 100%;
            width: 100%;
            background-color: $mobile-menu-background;
            @include respond-to($lap-and-desk){
                background-color: $colour-white;
            }
            &.open {
                position: fixed;
                z-index: $top-z-index+1;
            }

            @include mobile-trigger-container('.primary-navigation-and-utility-navigation-trigger-container');
            @include mobile-trigger('.primary-navigation-and-utility-navigation-trigger-container a');
        }
    }

    @include primary-navigation-and-utility-navigation-content('.primary-navigation-and-utility-navigation-content');
}

