@mixin insurance-summary-totals($selector) {
    #{$selector} {
        li {
            .icon-tick {
                color: $colour-greyscale-24;
            }
        }
        padding: 2*$grid-unit;
        border-bottom: 1px solid $colour-greyscale-88;
        @include respond-to($lap-and-desk){
            margin: 0 2*$grid-unit;
            padding: 2*$grid-unit 0;
            border-bottom: none;
        }
        overflow: hidden;
    }
}
@include insurance-summary-totals('.qj-quote__marketing-info');
